@model ShopifyWeb.Models.Order

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>

<div>
    <h4>Order</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.created_at)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.created_at)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.updated_at)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.updated_at)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.number)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.number)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.token)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.token)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.gateway)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.gateway)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.total_price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.total_price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.subtotal_price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.subtotal_price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.total_tax)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.total_tax)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.currency)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.currency)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.financial_status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.financial_status)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.total_discounts)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.total_discounts)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.total_line_items_price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.total_line_items_price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.order_number)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.order_number)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
</body>
</html>
