@model ShopifyWeb.Models.OrderDetail
@using ShopifyWeb.Helpers

<div class="card cardFilter">
    <div class="card-body">
        <form asp-action="Edit" id="formulario" method="post">
            <div class="row">
                <div class="col">
                    <h4>Order @Model.Order.name</h4>
                </div>
                <div class="col">
                    <label for="Nombre" class="control-label">Estado de la Orden</label>
                </div>
                <div class="col">
                    <input type="hidden" name="id" value="@Model.Order.id" />
                    <select id="state" class="custom-select" name="byState">
                        @foreach (string item in Model.Combo)
                        {
                            <option value="@item">@item</option>
                        }
                    </select>
                </div>
                @if (Model.Combo.Count > 1 && User.IsInRole(Roles.Admin))
                {
                    <div class="col">
                        <input type="submit" value="Guardar" id="save" class="btn btn-info">
                    </div>
                }
            </div>
        </form>
    </div>
</div>

<hr />

<table class="table table-striped table-bordered">
    <thead class="thead-dark">
        <tr>
            <th>#</th>
            <th>Nombre</th>
            <th>Cantidad</th>
            <th>SKU</th>
            <th>Precio</th>
            <th>IGV</th>
        </tr>
    </thead>
    <tbody>
        @for (int i = 1; i <= Model.Items.Count(); i++)
        {

            <tr>
                <td>@i</td>
                <td>@Model.Items[i - 1].name</td>
                <td>@Model.Items[i - 1].quantity</td>
                <td>@Model.Items[i - 1].sku</td>
                <td>@Model.Items[i - 1].price</td>
                <td>@Model.Items[i - 1].tax_price</td>
            </tr>
        }
    </tbody>
</table>

<div class="row">
    <div class="col-md-12">
        <div class="row">
            <div class="col">
                <p>Estado de Pago: @Model.Order.financial_status</p>
                <p>Tipo de Pago: @Model.Order.gateway</p>
            </div>
            <div class="col"></div>
            <div class="col"></div>
            <div class="col">
                <p>Sub Total: @Model.Order.subtotal_price</p>
                <p>IGV: @Model.Order.total_tax</p>
                <p>Costo de Envío: @Model.Order.shipping_price</p>
                <p>Total: @Model.Order.total_price</p>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col">
        <div class="card" style="width: 22rem;">
            <div class="card-header">
                Cliente
            </div>
            <div class="card-body">
                <p class="card-text">Nombre: @Model.Customer.first_name @Model.Customer.last_name</p>
                <p class="card-text">Correo: @Model.Customer.email</p>
                <p class="card-text">DNI/RUC: @Model.Customer.default_address.company</p>
                <p class="card-text">Dirección: @Model.Customer.default_address.address1</p>
                <p class="card-text">Referencia: @Model.Customer.default_address.address2</p>
                <p class="card-text">Departamento: @Model.Customer.default_address.province</p>
                <p class="card-text">Ciudad: @Model.Customer.default_address.city</p>
                <p class="card-text">Distrito: @Model.Customer.default_address.zip</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card" style="width: 22rem;">
            <div class="card-header">
                Dirección de Envio
            </div>
            <div class="card-body">
                <p class="card-text">Nombre: @Model.Ship.name</p>
                <p class="card-text">Dirección: @Model.Ship.address1</p>
                <p class="card-text">Referencia: @Model.Ship.address2</p>
                <p class="card-text">Teléfono: @Model.Ship.phone</p>
                <p class="card-text">Departamento: @Model.Ship.province</p>
                <p class="card-text">Ciudad: @Model.Ship.city</p>
                <p class="card-text">Distrito: @Model.Ship.zip</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card" style="width: 22rem;">
            <div class="card-header">
                Dirección de Facturación
            </div>
            <div class="card-body">
                <p class="card-text">Nombre: @Model.Bill.name</p>
                <p class="card-text">Dirección: @Model.Bill.address1</p>
                <p class="card-text">Referencia: @Model.Bill.address2</p>
                <p class="card-text">Teléfono: @Model.Bill.phone</p>
                <p class="card-text">Departamento: @Model.Bill.province</p>
                <p class="card-text">Ciudad: @Model.Bill.city</p>
                <p class="card-text">Distrito: @Model.Bill.zip</p>
            </div>
        </div>
    </div>
</div>

<div>
    <a class="btn btn-primary cardFilter" asp-action="Index">Regresar</a>
</div>

<partial name="_LoadingPartial" />

@section Scripts {
    <script>
        $(document).ready(function () {
            $("#save").click(function (e) {
                e.preventDefault();
                $('#staticBackdrop').modal('show');
                $.ajax({
                    method: 'post',
                    url: '/Orders/Edit/',
                    data: $('#formulario').serialize(),
                    headers: { "RequestVerificationToken": $('input[name="__RequestVerificationToken"]').last().val() },
                    success: function () {
                        window.location.reload();
                    },
                    error: function (err) {
                        setTimeout(function () { $('#staticBackdrop').modal('hide'); }, 2000);
                        alert(err.responseText);
                    }
                });
            });
        });
    </script>
}
