@model ShopifyWeb.Models.OrderDetail

<h4>Order @Model.Order.name</h4>
<hr />

<table class="table table-striped table-bordered">
    <thead class="thead-dark">
        <tr>
            <th>#</th>
            <th>Nombre</th>
            <th>Cantidad</th>
            <th>SKU</th>
            <th>Precio</th>
            <th>IGV</th>
        </tr>
    </thead>
    <tbody>
        @for (int i = 1; i <= Model.Items.Count(); i++)
        {
            
        <tr>
            <td>@i</td>
            <td>@Model.Items[i-1].title</td>
            <td>@Model.Items[i-1].quantity</td>
            <td>@Model.Items[i-1].sku</td>
            <td>@Model.Items[i-1].price</td>
            <td>@Model.Items[i-1].tax_price</td>
        </tr>
        }
    </tbody>
</table>

<div class="row">
    <div class="col-md-12">
        <div class="row">
            <div class="col">
                <p>Estado de Pago: @Model.Order.financial_status</p>
                <p>Método de Pago: @Model.Order.gateway</p>
            </div>
            <div class="col"></div>
            <div class="col"></div>
            <div class="col">
                <p>Sub Total: @Model.Order.subtotal_price</p>
                <p>IGV: @Model.Order.total_tax</p>
                <p>Total: @Model.Order.total_price</p>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col">
        <div class="card" style="width: 22rem;">
            <div class="card-header">
                Cliente
            </div>
            <div class="card-body">
                <p class="card-text">Nombre: @Model.Customer.first_name @Model.Customer.last_name</p>
                <p class="card-text">Correo: @Model.Customer.email</p>
                <p class="card-text">DNI/RUC: @Model.Customer.default_address.company</p>
                <p class="card-text">Dirección: @Model.Customer.default_address.address1 @Model.Customer.default_address.address2</p>
                <p class="card-text">Departamento: @Model.Customer.default_address.province</p>
                <p class="card-text">Ciudad: @Model.Customer.default_address.city</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card" style="width: 22rem;">
            <div class="card-header">
                Dirección de Envio
            </div>
            <div class="card-body">
                <p class="card-text">Nombre: @Model.Ship.name</p>
                <p class="card-text">Dirección: @Model.Ship.address1 @Model.Ship.address2</p>
                <p class="card-text">Teléfono: @Model.Ship.phone</p>
                <p class="card-text">Departamento: @Model.Ship.province</p>
                <p class="card-text">Ciudad: @Model.Ship.city</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card" style="width: 22rem;">
            <div class="card-header">
                Dirección de Facturación
            </div>
            <div class="card-body">
                <p class="card-text">Nombre: @Model.Bill.name</p>
                <p class="card-text">Dirección: @Model.Bill.address1 @Model.Bill.address2</p>
                <p class="card-text">Teléfono: @Model.Bill.phone</p>
                <p class="card-text">Departamento: @Model.Bill.province</p>
                <p class="card-text">Ciudad: @Model.Bill.city</p>
            </div>
        </div>
    </div>
</div>

    <div>
        <a asp-action="Index">Regresar</a>
    </div>
