@model IEnumerable<ShopifyWeb.Models.Orders>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.created_at)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.updated_at)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.number)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.token)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.gateway)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.total_price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.subtotal_price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.total_tax)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.currency)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.financial_status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.total_discounts)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.total_line_items_price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.order_number)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.created_at)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.updated_at)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.number)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.token)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.gateway)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.total_price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.subtotal_price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.total_tax)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.currency)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.financial_status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.total_discounts)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.total_line_items_price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.order_number)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>