@model ShopifyWeb.Models.OrderDetail

<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#"><img src="~/img/logo.png" height="40"></a>
        <form class="form-inline  my-2 my-lg-0">
            <a class="btn btn-sm btn-outline-secondary bordercolor_kellys btn_goToKellys" href="https://kellys.com.pe" target="_blank">Visitar sitio</a>
        </form>
    </div>
</nav>
<div class="container">
    <div class="row">
        <div class="col-lg-6 offset-lg-3 col-md-10 offset-md-1 container_seguimiento">

            <div class="container_head_detail">
                <h2>Seguimiento de pedido</h2>
                @if (Model.Order.fechaEstimada.Contains("para recojo"))
                {
                    <p><span>Tipo del pedido: </span><span id="tipoPedido"><strong>Recojo en tienda</strong></span></p>
                }else
                {
                    <p><span>Tipo del pedido: </span><span id="tipoPedido"><strong>Entrega a domicilio</strong></span></p>
                }
                <p><span>Orden del pedido: </span><span id="numeroPedido"><strong>@Model.Order.order_number</strong></span></p>
                <p><span>Fecha del pedido: </span><span id="fechaPedido"><strong>@Model.Order.created_at.ToString("dd/MM/yyyy")</strong></span></p>
            </div>


            <div class="card" style="width: 100%">
                <div class="card-body">

                    @if (Model.Order.status == "Cancelado")
                    {
                        <div>
                            <h2 class="text-danger">Su pedido fue cancelado.</h2>
                            <p>Para mayor información envié un correo electrónico a <a href="mailto:hola@kellys.com.pe">hola@kellys.com.pe</a> o al <a href="https://wa.link/0l6cpf">956 385 602</a></p>
                        </div>
                    }
                    else
                    {
                        <div class="containerStatus">
                            <div class="barra">
                                <div class="progress">
                                    <div class="statusPointer bgcolor_kellys"></div>
                                    <div class="progress-bar bgcolor_kellys" role="progressbar" style="width: 0%" aria-valuemin="0" aria-valuemax="100" id="progresoPedido"></div>
                                </div>
                            </div>
                            @if (!Model.Order.fechaEstimada.Contains("para recojo"))
                            {
                                <div class="statusInfoShipping row" id="statusInfoShipping">
                                    <span class="col col1 text-center statusPedido @Model.Status[0].Active" data-percentage="8%">
                                        <div class="lblInfo">Recibimos su pedido</div>
                                        <div class="fechaInfo">@Model.Status[0].Date</div>
                                        <div class="horaInfo">@Model.Status[0].Time</div>
                                    </span>
                                    <span class="col col2 text-center statusPedido @Model.Status[1].Active" data-percentage="32%">
                                        <div class="lblInfo">Pago confirmado</div>
                                        <div class="fechaInfo">@Model.Status[1].Date</div>
                                        <div class="horaInfo">@Model.Status[1].Time</div>
                                    </span>
                                    <span class="col col3 text-center statusPedido @Model.Status[2].Active" data-percentage="60%">
                                        <div class="lblInfo">Entregado al courier</div>
                                        <div class="fechaInfo">@Model.Status[2].Date</div>
                                        <div class="horaInfo">@Model.Status[2].Time</div>
                                    </span>
                                    <span class="col col4 text-center statusPedido @Model.Status[3].Active" data-percentage="95%">
                                        <div class="lblInfo">Entregado al cliente</div>
                                        <div class="fechaInfo">@Model.Status[3].Date</div>
                                        <div class="horaInfo">@Model.Status[3].Time</div>
                                    </span>
                                </div>
                            }
                            else
                            {
                                <div class="statusInfoPickUp row" id="statusInfoPickUp">
                                    <span class="col text-center statusPedido @Model.Status[0].Active" data-percentage="8%">
                                        <div class="lblInfo">Pedido recibido</div>
                                        <div class="fechaInfo">@Model.Status[0].Date</div>
                                        <div class="horaInfo">@Model.Status[0].Time</div>
                                    </span>
                                    <span class="col text-center statusPedido @Model.Status[1].Active" data-percentage="28%">
                                        <div class="lblInfo">Pago confirmado</div>
                                        <div class="fechaInfo">@Model.Status[1].Date</div>
                                        <div class="horaInfo">@Model.Status[1].Time</div>
                                    </span>
                                    <span class="col text-center statusPedido @Model.Status[2].Active" data-percentage="48%">
                                        <div class="lblInfo">En camino a tienda</div>
                                        <div class="fechaInfo">@Model.Status[2].Date</div>
                                        <div class="horaInfo">@Model.Status[2].Time</div>
                                    </span>
                                    <span class="col text-center statusPedido @Model.Status[3].Active" data-percentage="68%">
                                        <div class="lblInfo">Listo para recojo</div>
                                        <div class="fechaInfo">@Model.Status[3].Date</div>
                                        <div class="horaInfo">@Model.Status[3].Time</div>
                                    </span>
                                    <span class="col text-center statusPedido @Model.Status[4].Active" data-percentage="95%">
                                        <div class="lblInfo">Entregado al cliente</div>
                                        <div class="fechaInfo">@Model.Status[4].Date</div>
                                        <div class="horaInfo">@Model.Status[4].Time</div>
                                    </span>
                                </div>
                            }
                        </div>
                    }                        

                    <table class="table table-hover">
                        <tbody>
                            <tr>
                                <td>
                                    <h4>Información del pedido</h4>
                                    <div id="informacionPedido" class="row">
                                        @foreach (Item item in Model.Items)
                                        {
                                            <div class="col-md-6">
                                                <span class="nombreProducto">@item.name</span>
                                            </div>
                                            <div class="col-md-6 text-lg-right">
                                                SKU: <span>@item.sku</span>
                                                Cantidad: <span>@item.quantity</span>
                                            </div>
                                        }
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <h4>Información del destinatario</h4>
                                    <div id="nombreDestinatario" class="row">
                                        <div class="col-md-4">
                                            <span class="lblCard">Nombre</span>
                                        </div>
                                        <div class="col-md-8 text-lg-right">
                                            <span class="nombreDestinatario">@Model.Customer.first_name @Model.Customer.last_name</span>
                                        </div>
                                    </div>
                                    <div id="correoDestinatario" class="row">
                                        <div class="col-md-4">
                                            <span class="lblCard">Correo</span>
                                        </div>
                                        <div class="col-md-8 text-lg-right">
                                            <span class="correoDestinatario">@Model.Order.email</span>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <h4>Información de despacho</h4>
                                    <div id="direccionDespacho" class="row">
                                        <div class="col-md-4">
                                            <span class="lblCard">Dirección de despacho</span>
                                        </div>
                                        <div class="col-md-8 text-lg-right">
                                            <span class="direccionDespacho">@Model.Ship.address1, @Model.Ship.city</span>
                                        </div>
                                    </div>
                                    <div id="fechaEntrega" class="row">
                                        <div class="col-md-4">
                                            <span class="lblCard">Fecha de entrega</span>
                                        </div>
                                        <div class="col-md-8 text-lg-right">
                                            @Model.Order.fechaEstimada
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <button type="button" class="btn btn-primary bgcolor_kellys bordercolor_kellys" onclick="window.history.back();">Regresar</button>

                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            $('.statusPedido').each(function () {
                if ($(this).hasClass('active')) {
                    var percentage = $(this).attr('data-percentage');

                    $("#progresoPedido").css({ width: percentage });
                    $(".statusPointer").css({ left: percentage });
                }
            });

            if ($(window).width() < 767) {
                $('.barra').width($('.statusInfoPickUp').height());
            }

            $(window).resize(function () {
                if ($(window).width() < 767) {
                    $('.barra').width($('.statusInfoPickUp').height());
                } else {
                    $('.barra').width('auto');
                }
            });
        });
    </script>
}