@model cloudscribe.Pagination.Models.PagedResult<Product>

@{
    ViewData["Title"] = "Index";
    ViewData["Controller"] = "Products";
    ViewData["Action"] = "Index";
}

<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#createModal">
    Nuevo Producto
</button>

<div class="modal fade" id="createModal" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-sm">
        <div class="modal-content">
            <form asp-action="Create" method="get">
                <div class="modal-body">
                    <label for="Nombre" class="control-label">Codigo Padre</label>
                    <input type="text" name="SKU" value="" class="form-control" required />
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Crear</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                </div>
            </form>
        </div>
    </div>
</div>

<form asp-action="Index" method="get" id="filtros">
    <h4>Buscar Por: </h4>
    <div class="row">
        <div class="col">
            <div class="form-group">
                <label for="Nombre" class="control-label">Nombre</label>
                <input type="text" name="ByName" value="@ViewBag.byName" class="form-control" />
            </div>
        </div>
        <div class="col">
            <div class="form-group">
                <label for="Nombre" class="control-label">SKU</label>
                <input type="text" name="BySKU" value="@ViewBag.bySKU" class="form-control" />
            </div>
        </div>
        <div class="col">
            <div class="form-group">
                <label for="Marca" class="control-label">Marca</label>
                <select id="brand" class="custom-select" name="byVendor">
                    <option value="" selected>Seleccione un valor</option>
                    @foreach (var item in ViewBag.Brand)
                    {
                        <option value="@item.Name">@item.Name</option>
                    }
                </select>
            </div>
        </div>
        <div class="col">
            <div class="form-group">
                <label for="Tipo" class="control-label">Tipo</label>
                <select id="type" class="custom-select" name="byType">
                    <option value="" selected>Seleccione un valor</option>
                    @foreach (var item in ViewBag.ProductType)
                    {
                        <option value="@item.Name">@item.Name</option>
                    }
                </select>
            </div>
        </div>
        <div class="col">
            <div class="form-group">
                <label for="Stock" class="control-label">Stock</label>
                <select id="stock" class="custom-select" name="byStock">
                    <option value="1">Todos</option>
                    <option value="2">Con Stock</option>
                    <option value="3">Sin Stock</option>
                </select>
            </div>
        </div>
    </div>
    <input type="submit" value="Buscar" class="btn btn-info">
    <a asp-action="Index">Quitar Filtro</a>
</form>

<button class="btn-info" id="descargar">Descargar</button>

<table class="table table-striped table-bordered">
    <thead class="thead-dark">
        <tr>
            <th>
                Nombre
            </th>
            <th>
                Marca
            </th>
            <th>
                SKU
            </th>
            <th>
                Tipo de Producto
            </th>
            <th>
                URL
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Data)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Vendor)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SKU)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductType)
                </td>
                <td>
                    <a href="@Environment.GetEnvironmentVariable("WEB_URL")@item.Handle" target="_blank">Ver en Web</a>
                </td>
                <td>
                    <a class="btn btn-info" role="button" asp-action="Edit" asp-route-id="@item.Id">Ver</a>
                    <button class="btn btn-danger" id="@item.Id" data-name="@item.Title">Eliminar</button>
                </td>
            </tr>
        }
    </tbody>
</table>

<partial name="_PaginationPartial" view-data="ViewData" model="Model" /> <p>Total : @Model.TotalItems</p>
<partial name="_ConfirmDeletePartial" />
<partial name="_SuccessModalPartial" />
<partial name="_LoadingPartial" />

@section Scripts {
    <script>
        $(document).ready(function () {
            $("#brand").val('@ViewBag.byVendor');
            $("#type").val('@ViewBag.byType');
            $("#stock").val('@ViewBag.byStock');
        });
        $('.btn-danger').click(function () {
            $('#deleteProductName').html("Desea eliminar el producto: " + $(this).data("name"));
            $('#deleteProductId').val(this.id);
            $('#deleteModal').modal('show');
        });
        $('#confirmDelete').click(function () {
            $.ajax({
                method: 'post',
                url: '/Products/Delete/' + $('#deleteProductId').val(),
                headers: { "RequestVerificationToken": $('input[name="__RequestVerificationToken"]').last().val() },
                success: function () {
                    setTimeout(function () { $('#staticBackdrop').modal('hide'); }, 2000);
                    $('#successModal').modal('show');
                },
                error: function (err) {
                    setTimeout(function () { $('#staticBackdrop').modal('hide'); }, 2000);
                    alert(err.responseText);
                }
            });
            $('#deleteModal').modal('hide');
        });
        $('#descargar').click(function (e) {
            e.preventDefault();
            $('#staticBackdrop').modal('show');
            var result = $('#filtros').serialize();
            $.ajax({
                method: 'post',
                url: '/Products/Download/',
                xhrFields: {
                    responseType: 'blob'
                },
                data: result,
                success: function (data) {
                    var a = document.createElement('a');
                    var url = window.URL.createObjectURL(data);
                    a.href = url;
                    a.download = 'Products.csv';
                    document.body.append(a);
                    a.click();
                    a.remove();
                    window.URL.revokeObjectURL(url);
                    setTimeout(function () { $('#staticBackdrop').modal('hide'); }, 2000);                    
                },
                error: function (err) {
                    setTimeout(function () { $('#staticBackdrop').modal('hide'); }, 2000);
                    alert(err.responseText);
                }
            });
            $('#deleteModal').modal('hide');
        });

    </script>
}